*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Gupter', serif;
  font: black;
}

.header{
  width: 100%;
  background-color: rgba(0,0,0,1)
}
.header{
  background-color: rgba(0,0,0,.0) !important;
  opacity: .9
}

.links{
  color: white;
}

.home{
  color: white !important;
  background: url("./SkaMain.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: left;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url(./SkaMain.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.description{
  margin: auto;
  padding-top: 50px;
  text-align: center;
}