*{
  margin: 0;
  padding: 0;
}

body{
  color:black;
  font-family: 'Gupter', 'serif';
  background-color: #f9f5f1;
}

.collapse{
  padding-right: 30px;
}

.header{
  width: 100%;
  background-color: rgba(0,0,0,1)
}
.header{
  background-color: rgba(0,0,0,.0) !important;
  opacity: .9
}

iframe {
  margin: auto;
  width: 100%;
  border: 3px solid #73AD21;
  padding: 10px;
  display: block;
}

.instagram{
  height: 50px;
  width: auto;

}

.facebook{
  height: 50px;
  width: auto;
  padding-right: 5px
}

footer{
  flex: auto 0 0;
  background-color: aqua;
}

.copyright{
  text-align: center;
}
.info{
  padding-left: 60px;
  margin-top: auto;
  margin-bottom: auto;
 
}

.footer {
  left: 0;
  bottom: 0;
  color: white;
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #145676;
  opacity: .9;
}

.copyright{
  color: white;
  text-align: center;
  padding-top: 20px;

}