*{
  margin: 0;
  padding: 0;
}

body{
  color:black;
  font-family: 'Gupter', 'serif';
 
}

.header{
  width: 100%;
  background-color: rgba(0,0,0,1)
}
.header{
  background-color: rgba(0,0,0,.0) !important;
  opacity: .9
}

iframe {
  margin: auto;
  width: 100%;
  border: 3px solid #73AD21;
  padding: 10px;
  display: block;
}

.info{
  padding-left: 60px;
  margin-top: auto;
  margin-bottom: auto;
 
}

.fab{
  color: rgba(167, 146, 129, 0.6);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 1px solid rgba(167, 146, 129, 0.4);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease .3s;
    &:hover {
      color: rgba(167, 146, 129, 1);
      border: 1px solid rgba(167, 146, 129, 1);
}