*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #f9f5f1;
  /* #fcf2e4; */
  padding: 0;
  margin: 0; 
  height: 100%;
  font-family: 'Gupter', serif;
}

.collapse{
  padding-right: 30px;
}

.container{
  font-size:20px;
}

.description{
  text-align: center;
  font-size: 48px
}

.header{
  background-color: rgba(0,0,0,.0) !important;
  opacity: .9;
  width: 100%;
  background-color: rgba(0,0,0,1)
}

.brick-row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.brick-col {
  flex: 50%;
  padding: 0 4px;
}

.brick-col img {
  margin-top: 8px;
  vertical-align: middle;
}

.beer-row{
  display: flex;
  flex-wrap: wrap;
}

.left-beer{
  flex: 50%;
}

.right-beer{
  flex: 50%;
}

.wine-row{
  display: flex;
  flex-wrap: wrap;
}

.left-wine{
  flex: 50%;
}

.right-wine{
  flex: 50%;
}

.links{
  color: black
}

.drinks{
  display: inline;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 30px;
}

.beer{
  font-size: 25px;
  display: inline;
}

.price{
  display: inline
}

.list{
  font-style: italic;
}

.city{
  font-style: italic;
}



.drink-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer {
  color: white;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #145676;
  opacity: .9;
}

.copyright{
  color: white;
  text-align: center;
  padding-top: 20px;

}