body{
  font-family: 'Gupter', serif;
}

.container{
  font-size:20px;
}

.description{
  text-align: center;
}

.header{
  background-color: rgba(0,0,0,.0) !important;
  opacity: .9;
  width: 100%;
  background-color: rgba(0,0,0,1)
}

.links{
  color: black
}

.drinks{
  text-decoration: underline;
  font-size: 30px;
}

.drink-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}