*{
  margin: 0;
  padding: 0;
}

body{
  color: white !important;
  font-family: 'Gupter', 'serif';
 
}

.home{
  color: white !important;
  background: url("./SkaMain.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: left;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url(./SkaMain.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.logo{
  opacity: .9;
  padding-left: 30px
}

.menu{
  color: red;
}

.links{
  color: white !important
  ;
}

.header{
  width: 100%;
  background-color: rgba(0,0,0,1)
}
.header{
  background-color: rgba(0,0,0,.0) !important;
  opacity: .9
}

.navbar-nav{
  color: white;
}
