*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Gupter', serif;
  background: url("./SkaBarFood.jpg") no-repeat center;
  color: white !important;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url(./SkaBarFood.jpg);
  background-size: cover;
  /* height: 100vh; */
  background-position: center center;
  background-position: bottom;
  background-attachment: fixed;
}

.collapse{
  padding-right: 30px;
}

.custom-toggle{
  background: white;
  border-color: #145676
}

.links{
  color: white;
}
.header{
  background-color: rgba(0,0,0,.0) !important;
  opacity: .9;
  width: 100%;
  background-color: rgba(0,0,0,1)
}

.container{
  font-size:20px;
}

.description{
  text-align: center;
  font-size: 48px
}

.food{
  display: inline;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 30px;
}

.drinks{
  display: inline
}

.happy-hour-item{
  display: inline;
}

.price{
  display: inline
}

.list{
  font-style: italic
}

.substitute{
  text-align: center
}

.menu-change{
  text-align: center;
  padding-top: 250px
}

.footer {
  color: white;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #145676;
  opacity: .9;
}

.copyright{
  color: white;
  text-align: center;
  padding-top: 20px;

}

